{% extends 'food/base.html' %}
{% load static %}
{% block title %}Pizza {% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-8">
                <h2 class="title">Our pizzas </h2>
                <div class="row">
                    {% for pizza in pizzas %}
                    <div class="col-md-6 p-4">
                        <img class="picture" src="{{ pizza.pImage }}">
                        <h4 class="p-3" id="piz{{pizza.id}}">{{ pizza.name }}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="pizza{{pizza.id}}" value="{{ pizza.priceM }}" checked>
                                小:${{ pizza.priceM }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" name="pizza{{pizza.id}}" value="{{ pizza.priceL }}" type="radio">
                                大:${{ pizza.priceL }}
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addPizza('{{pizza.id}}')">add</button>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>                    
                    
            </div>
            <div class="col-md-4 text-center" style="top: 50px;">
                <div class="bg-dark text-white p-4">
                    <h2>Order list</h2>
                <ul id="pcart" class="text-left"></ul>
                <h2 id="ptotal" class="text-right">Total:0</h2>
                </div>
                
            </div>
        </div>
    </div>
    <script src="{% static 'food/js/order.js' %}"></script>
{% endblock %}